In [1]:
a=10

In [2]:
a='c'

In [3]:
type(a)

str

In [4]:
int('abc')

ValueError: invalid literal for int() with base 10: 'abc'

In [ ]:
print("Hello")

In [ ]:
print(123)

In [ ]:
age=28
print("My age is: ", age)

In [ ]:
print("My age is: {age}")

In [ ]:
## f (Format) string
print(f"My age is: {age}")

In [ ]:
## format()
name="Radhashyam"
age=28
print("My name is {} and age is {}". format(name,age))

In [ ]:
## place holder {firstname}
print("My name is {firstname} and age is {firstage}". format(firstname=name,firstage=age))

In [ ]:
name="Radhe"
age=28
degree="MCA"

print("My age is {} and i have completed: my degree of {} with the name of {}".format(age,degree,name))

## Control Flow
### Decission Making Statements

In [8]:
## if statements
age=18
if age>=18:
    print("you are eligible to vote")

you are eligible to vote

In [7]:
## if statements
age=17
if age<18:
    print("you are not eligible to vote")

you are not eligible to vote

In [6]:
name=input("Enter the name")

Enter the name Radhashyam

In [9]:
age=int(input("Enter the age"))
if age>=18 and age<=45:
    print("you are young blood")

Enter the age 34

you are young blood

In [10]:
## if else statements
age=int(input("Enter the age"))
if age>=18 and age<=45:
    print("you are young blood")
else:
    print("Thank you your application is rejected")

Enter the age 50

Thank you your application is rejected

In [26]:
ProductValue=int(input("Enter you Product value"))
if ProductValue > 3000:
                 print(f"Product price is: {ProductValue*0.8}")     
elif ProductValue>=2000 and ProductValue<=3000:
    if ProductValue==2999:
            print("Congratulated You will get additional gift")
    print(f"Product price is: {ProductValue*0.7}")
        
else:
    print(f"Product price is: {ProductValue*0.6}")

Enter you Product value 2999

Congratulated You will get additional gift
Product price is: 2099.2999999999997

In [28]:
val=int(input("enter the no"))
if(val<=999):print("welcome")

enter the no 999

welcome

## loops Statement
1. While Loop
2. for loop
3. nested loops
4. Loop Control(break,continue,pass)

## while Loop

In [33]:
# while loop
joining_age=25
while joining_age<=60:
    joining_age=joining_age+1
    print(joining_age)
else:
    print("Its time for retirement")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
Its time for retirement

In [40]:
# while loop
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("Bank please fill the money")

1000
900
800
700
600
500
400
300
200
100
Bank please fill the money

## for loop

In [45]:
lst = ["Radhe",1,2,3,4,"test","test1"]

In [46]:
type(lst)

list

In [47]:
lst[0]

'Radhe'

In [48]:
lst

['Radhe', 1, 2, 3, 4, 'test', 'test1']

In [49]:
for x in lst:
    print(x)

Radhe
1
2
3
4
test
test1

In [50]:
fruit_list = ["mango", "banana" , "papapya" , "cherry"]

In [52]:
for a in fruit_list:
    print(a)
    if a=="banana":
        print(f"The fruit is: {a}")

mango
banana
The fruit is: banana
papapya
cherry

In [53]:
fruit = "mango"
for x in fruit:
    print(x)

m
a
n
g
o

In [56]:
fruit = "mango"
for x in fruit:
    print(x,end='')

mango

In [55]:
fruit[1]

'a'

## Nested Loops

In [65]:
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*", end="")
    print("\r")

*
**
***
****
*****
******
*******

In [58]:
for i in range(1,6,1):
    print(i)

1
2
3
4
5

In [59]:
for i in range(1,6,2):
    print(i)

1
3
5